---
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact">
    <Container class="p-24">
        <Sectionhead>
            <Fragment slot="title">Catalogo</Fragment>
            <Fragment slot="desc"
                >La gran mayoría de nuestros diseños están aquí.</Fragment
            >
        </Sectionhead>
        <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
            <div
                style="position:relative;padding-top:0;width:900px;height:500px;"
            >
                <iframe
                    style="position:absolute;border:none;width:100%;height:100%;left:0;top:0;"
                    src="https://online.fliphtml5.com/ghblx/scez/"
                    seamless="seamless"
                    scrolling="no"
                    frameborder="0"
                    allowtransparency="true"
                    allowfullscreen="true"></iframe>
            </div>
        </div>
        <div class="flex items-center justify-center mt-6">
            <a
                href="/public/downloads/Catalogo Residencial-2025_ESop.pdf"
                download
                class="inline-block px-6 py-3 bg-black text-white rounded-md hover:bg-gray-500 transition"
                aria-label="Descargar catálogo PDF"
            >
                Descargar Catálogo
            </a>
        </div>
    </Container></Layout
>
